{% extends "layout.njk" %}

{% block content %}
<div class="head">
    <h1>Tristan & Isolde's Story</h1>
    <div class="startbutton">
        <a href="/story/1.0">Start</a>
    </div>
</div>
{% endblock %}