body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

.head {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}
.head h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}