body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4;
}

.startbutton {
    border: 1px solid black;
    border-radius: 10px;
    width: 50vw;
    height: 50vh;
    margin: auto;
}

.startbutton a:hover {
    background-color: black;
    color: white;
}

.startbutton a {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.head {
    padding: 20px;
    text-align: center;
}

.story {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    border-radius: 25px;
    margin: auto;
    margin-top: 1rem;
    max-width: 50vw;
    height: 70vh;
}

.top {
    margin-left: 2rem;
    margin-right: 2rem;
}

.top h1 {
    text-align: center;
    margin-top: 1rem;
}

ul {
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    max-width: 50vw;
    padding: 0;
}

li, li:visited {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    list-style-type: none;
    width: 40vw;
    margin-bottom: 1rem;
    transition: 0.3s;
}

li:hover {
    box-shadow: 1px 1px 1px black;
}

a, a:visited {
    text-decoration: none;
    color: black;
    padding-left: 1rem;
    width: 100%;
    height: 100%;
}

